{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Edit Bookmark{% endblocktrans %}{% endblock %}


{% block content %}
    <h1>{% trans "Edit Bookmark" %}</h1>    
    
    <p>You can drag this '<a href="{{ bookmarklet }}">Add to {{ site_name }} Bookmarks</a>' link to your bookmark bar to post the pages you visit!</p>

    <form method="post" action="" id="bookmark_instance_edit_form">
        <fieldset class="inlineLabels">
            <legend>* Required fields</legend>
            {{ form }}
            <div class = "form_block"><input type="submit" value="{% trans 'save bookmark changes' %}"></div>
        </fieldset>
    </form>
{% endblock %}
